body {
    background: 
    linear-gradient(to right, blue, red);
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
 background: none;
 border: none;
 outline: none;
 cursor: pointer;
 font-size: 6rem;   
 transition: 100ms;
}

.selection:hover {
    transform: scale(1.5);
}

.results {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;  
    align-items: center;
    font-size: 4rem;
}

.result-score {
    margin-left: auto;
    font-size: 5rem;
    color: white;
}

.result-selection {
 opacity: .5;
}

.result-selection.winner {
    opacity: 1;

}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    background-color: black;
}

h3 {
    font-size: x-large;
    color: aliceblue;
}

p {
    font-size: x-large;
    color: aliceblue;
}

.head {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: cyan;
}

main { 

    min-height: calc(100vh - 180px);
    
    }

    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      }