@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    background:
    linear-gradient(to right, red, blue);
    text-align: center;
    margin: auto;
}


/* Header style*/
h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #fafafa;
}


h3 {
    font-size: medium;
    color: #fafafa;
}

/* Individual buttons*/
.choiceBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.5rem;
    transform: 100ms;
} 


/*Hover style on btn*/
.choiceBtn:hover {
    transform: scale(1.5);
}


/* Button style*/
.button-area {
    display: flex;
    justify-content: center;
}

/* Player styling */
.player {
    font-size: 1.5rem;
    text-align: center;
    color: yellowgreen;
    letter-spacing: 1rem;
    padding-bottom: 25px;
}


.playercount {
    font-size: 1rem;
    text-align: center;
    color: #fafafa;
    padding-bottom: 20px;
}

/* computer styling */

.computer {
    font-size: 1.5rem;
    text-align: center;
    color: yellowgreen;
    letter-spacing: 1rem;
    padding-bottom: 25px;
}

.computer-count {
    font-size: 1rem;
    text-align: center;
    color: #fafafa;
    padding-bottom: 20px;
}

/* Result area*/

.result {
    letter-spacing: 00.5rem;
    color: #fafafa;
    padding-bottom: 25px;
}


.pcscore {
    color: #fafafa;
    padding-bottom: 50px;
    padding-top: 25px;
    letter-spacing: 0.3rem;
}

.playerscore {
    color: #fafafa;
    padding-bottom: 25px;
    letter-spacing: 0.3rem;
}

p {

    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    font-weight: 300;
    font-size:15px;
}

a {
    color: black;
}

a:hover {
    color: #fafafa;
}

/* Media querys*/

@media (max-width: 375px) {
    #gamearea {
           margin: 10px auto;
       }
       p {
           font-size: 1rem;
       }
   
       img {
           width: 100px;
       }
   
       h1 {
           font-size: 2rem;
       }
   }