@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', sans-serif;
    background:
    linear-gradient(to right, red, blue);
    text-align: center;
    margin: auto;
}

#main {
    overflow: hidden;
}


/* Header style*/
h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #fafafa;
}


h3 {
    font-size: medium;
    color: #fafafa;
}

/* Individual buttons*/
.choiceBtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.5rem;
    transform: rotate(1turn);
} 


/*Hover style on btn*/
.choiceBtn:hover {
    transform: scale(1.5);
}


/* Button style*/
.button-area {
    display: flex;
    justify-content: center;
}

/* Player & Computer styling */
.player {
    font-size: 1.5rem;
    text-align: center;
    color: yellowgreen;
    letter-spacing: 1rem;
    padding-bottom: 25px;
}

.computer {
    font-size: 1.5rem;
    text-align: center;
    color: yellowgreen;
    letter-spacing: 1rem;
    padding-bottom: 25px;
}


/* Score area*/

.result {
    letter-spacing: 00.5rem;
    color: #fafafa;
}

.playerscore {
    color: black;  
    padding-bottom: 25px;
    padding-top: 40px;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}


.pcscore {
    color: black;
    padding-bottom: 50px;
    padding-top: 25px;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
}

/* Anchor and hover style*/

a {
    color: black;
}

a:hover {
    color: #fafafa;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Media querys*/

@media (max-width: 300px) {
    #main {
        margin: 10px auto;
    }
}